/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
* {
    /*border: 1px solid black;*/
    box-sizing: border-box;
}

.jumbotron {
    border-radius: 0 ;
    margin-bottom: 0 ;
    margin-top: 0 ;
}

header .row {
    margin: auto;
    padding: auto;
    position: fixed;
    width: 85%;
    left: 50%;
    transform: translateX( -50%);
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.6);
    float: left;
    /*max-width: 700px;*/
}

.col-sm-3 {
    height: auto;
    margin: auto;
}
.brand {
    color: white;
    font-size: 1.5rem;
}

.nav-link {
    margin: 0 3rem;
    font-size: 1.3rem;
}

.nav-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.icon {
    display: block;
    margin: .5rem auto;
    min-width: 1rem;
    max-width: 4rem;
    height: auto;
    border-radius: 50%;
}

.title {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -5rem;
    margin-bottom: -5rem;
    min-width: 320px;
    overflow: hidden;
}

.title .row {
    max-width: 50rem;
    text-align: center;
    justify-content: center;
    min-width: 320px;
    overflow: hidden;
}
.title h1,
.title p {
    color: #fff;
    text-shadow: 0.1rem 0.1rem 0.1rem black;
    font-family: 'Muli', sans-serif;
    font-style: italic;
    font-weight: 700;
}
.title h1 {
    font-size: 4.8rem;
}
.title p {
    font-size: 2rem;
}

.homeTitle {
    height: 500px;
    background: url(../img/img.jpg) no-repeat bottom center;
    background-size: cover;
}

.contactTitle {
    height: 450px;
    background: url(../img/speedpaint_101_the_great_sky_river_by_rhads-d9n2318.jpg) repeat top center;
    background-size: cover;
}
.projectsTitle {
    height: 450px;
    background: url(../img/skyline_by_platinumnova-d36zk7c.png) no-repeat bottom center;
    background-size: cover;
}

.mainMenu {
    background: linear-gradient(45deg, white 0%, white 100%);
    background: -webkit-linear-gradient(45deg, white 0%, white 100%);
    min-width: 320px;
    overflow: hidden;
}

.mainMenu .col-sm-12 {
    padding: 1.5rem;
    background-color: white;
    width: 100%;
    box-shadow: 0.15rem 0.15rem 0.4rem black;
}

.mainMenu h2,
.mainMenu h3,
.mainMenu .p {
    color: black;
    text-decoration: none;
}

.mainMenu h2 {
    font-size: 2.2rem;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    padding-bottom: 1.5rem;
}

.mainMenu h3 {
    font-size: 1.4rem;
    font-family: 'Josefin Slab', serif;
    font-weight: 700;
}

.mainMenu p {
    font-family: 'Josefin Slab', serif;
    font-size: 1.4rem;
}

.projectsPosition {
    box-sizing: border-box;
    width: 95%;
    margin: 20px auto;
    padding: 20px 0;
    text-align: center;
}

.project {
    display: inline-block;
    margin: 0 2% 80px 2%;
    text-align: center;
    width: 45%;
    border: 2px solid black;
}
.project img {
    width: 100%;
}

@media only screen and (max-width: 480px) {
    .nav-link {
        margin: 0;
        padding: 0;
    }
    .nav-item {
        font-size: 1rem;

    }
    .title h1 {
        font-size: 3rem;
    }
    .icon {
        display: none;
    }
    .brand {
        display: none;
    }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
